/* ----------DEFAULT------------ */

* {
    font-family: 'Arvo', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* ----------MAIN ADMIN---------- */

.main-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* ---------MAIN CARDS STYLE---------- */

.close-icon {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    right: 5px;
}

.close-icon:hover {
    color: red;
    cursor: pointer;
}

.btn {
    margin: .5rem;
}

#formulario {
    display: none;
}

.cards-title {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 1rem;
}

.main-cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}


/* ----------LOGIN----------- */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    height: 85vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-label {
    margin-top: 1rem;
}

.login-input {
    border: none;
}

.login-submit {
    margin-top: 1rem;
}